<div class="container">
  <div class="row clearfix">
    <div class="new column full">
    <h1>Start Giving Better Gifts Today</h1>

    <%= render 'form' %>

    <button><%= link_to 'Back', users_path %></button>
    </div>
  </div>
</div>
