<div class="container">
  <div class="row clearfix">
  <div class="main column half">
    <h1>Give Better Gifts</h1>
    <p>Schedule a time to chat and you'll become the thoughtful, gift-giving man she wants you to be...<br> (And you probably want to be too.)</p>
    <button class="button"><%= link_to 'Get Started', new_user_path %></button>
  </div>
</div>

    <div class="works">
      <h2>How it Works</h2>
      <div class="row clearfix">
       <div class="column third">
        <i class="fa fa-phone fa-3x"></i>
          <h3>We chat.</h3><p>Set an appointment for a quick pow-wow to get a few particulars about your better half.</p>
        </div>
        <div class="column third">
          <i class="fa fa-envelope-o fa-3x"></i>
          <h3>Open your email.</h3><p>You'll receive three hand-picked recommendations in your email inbox.</p>
        </div>
        <div class="column third flow-opposite">
          <i class="fa fa-gift fa-3x"></i>
          <h3>You pick.</h3><p>After you choose one, you'll receive it wrapped in the mail with a card for that holiday.</p>
        </div>
      </div>
      </div>

    <div class="about">
      <h2>Who Picks out Gifts?</h2>
      <p>Hey there. I'm Erinn Barr and you can think of me as your buddy's wife who wants to help you out.</p>
      <p>Over the years, I saw my dad struggle to give my mom a gift that didn't cause a fight. In fact, a majority of his gifts would cause comments like "Is this your way of asking for a divorce?" or the time he thought giving his wedding ring mangled from a wood chipper was a good idea. Either way, this can be completely avoided.</p>
      <p>Gift giving is hard and it gets harder over the years. So, let me help you find gifts and get the reaction that you want her to have. </p>
    </div>
</div>
