/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav {
      background-color: lightgray;
      margin: 0 auto;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 45px;
}
.nav a {
  text-decoration: none;
}
.nav a:visited {
  text-decoration: none;
  color: black;
}
.nav a:hover {
  text-decoration: none;
  background-color: lightgray;
}


.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
  }

.works {
  margin: 40px 0;
  padding: 2%;
  text-align: center;
  background-color: lightgray;
}

.about {
  margin: 40px 0;
  padding: 2%;
  text-align: center;
  background-color: lightgray;
}

.main {
  position: relative;
  top: 50;
  padding: 180px 40px 100px;
}
.button {
    font-size: 14px;
    margin-top: 35px;
    background-color: darkblue;
    color: white;
    padding: 10px 40px;
    border-radius: 2px;
    border: none;
  }
  .button a {
    text-decoration: none;
    color: white;
  }
  .button a:visited {
    color:white;
  }
  .button a:hover {
    background-color: darkblue;
  }

  /*New Page*/
  .new {
    position: relative;
    top: 50px;
    border: solid 1px black;
    text-align: center;
  }

  .form {
    background-color: blue;
  }

 input {
  background: #eee;
  border: 2px solid #eee;
  border-radius: 2px;
 /* box-sizing: border-box;*/
  height: 36px;
  margin: 0;
  padding: 0;
  text-indent: 7px;
  width: 100%;
  }

.actions input {
  font-size: 14px;
  height: 36px;
  margin: 0;
  border: 2px solid #eee;
  padding: 0;
  width: 60%;
  background-color: darkblue;
  color: white;
}

 /* grid system*/
.column {
  float: left;
  /*margin-left: 5%;*/
}

.column:first-child {
  margin-left: 0;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }
  .threecol { width: 22.05%; min-height: 1px; position: relative;}
  .sixcol { width: 48%; min-height: 1px; margin-right: 3.8%; position: relative; }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
